.icon {
  display: inline-block;
  vertical-align: middle;
  pointer-events: none;
  border-radius: 50%;
}

.img_box {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  position: relative;
  img {
    margin: 25px;
  }

  .circle {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top:25px;
    left:25px;
  }
}

