<nz-modal
  [(nzVisible)]="visible"
  nzTitle="请授权登录"
  [nzOkLoading]="submiting"
  (nzOnCancel)="hanldeCancel()"
  (nzOnOk)="login()"
>
  <ng-container *nzModalContent>
    <input nz-input type="password"  (change)="getTokenChange()" placeholder="请输入密码"  [(ngModel)]="password" maxlength="100" autofocus />
    <p *ngIf="isShowToken">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</p>
    <p>请在下方输入您的TOKEN进行登录校验</p>
    <input nz-input placeholder="请输入TOKEN" [(ngModel)]="token" maxlength="100" autofocus />
  </ng-container>
</nz-modal>
